# Simulator configuration
simulator.logFileName     = Log.txt
simulator.summaryFileName = Summary.txt

simulator.runTimeTotal = 5000

# Common processes configuration
processes.runTimeAverage = 1100
processes.runTimeStandardDeviation = 510

# Setup I/O blocking time for each process
process.ioBlockInterval = 100
process.ioBlockInterval = 500
process.ioBlockInterval = 60
process.ioBlockInterval = 0